<!--page generated at: <%= htmlWebpackPlugin.options.time%>-->
<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="utf-8">
	<meta name="name" value="<%= htmlWebpackPlugin.options.name%>" />
	<meta name="description" value="<%= htmlWebpackPlugin.options.description%>" />
	<meta name="author" value="<%= htmlWebpackPlugin.options.author%>" />
	<meta name="hash" value="<%= htmlWebpackPlugin.options.hash%>" />
	<meta name="version" value="<%= htmlWebpackPlugin.options.version%>" />
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
	<div id="mei-app"></div>
</body>

</html>
